{% extends 'base_guest.html' %}

{% block content %}
<div class="flex flex-col items-center justify-center font-sans">
    <div class="bg-gray-900 rounded-lg p-8">
        <h2 class="text-3xl font-semibold text-white mb-4 text-center font-serif">Register</h2>
        <form method="POST", class="space-y-4" onsubmit="return validateForm()">
            {% csrf_token %}
            <div>
                <label for="email" class="text-white">Email</label>
                <input type="email" id="email" name="email" class="bg-[#f0e3ff] w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-[#b17bc9]" required>
            </div>
            <div>
                <label for="password" class="text-white">Password</label>
                <input type="password" id="password" name="password" class="bg-[#f0e3ff] w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-[#b17bc9]" required>
            </div>
            <div>
                <label for="nama" class="text-white">Nama</label>
                <input type="text" id="nama" name="nama" class="bg-[#f0e3ff] w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-[#b17bc9]" required>
            </div>
            <div>
                <label for="kontak" class="text-white">Kontak</label>
                <input type="text" id="kontak" name="kontak" class="bg-[#f0e3ff] w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-[#b17bc9]" required>
            </div>
            <div>
                <button type="submit" class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold">Register</button>
            </div>
        </form>
    </div>
</div>

<script>
    function validateForm() {
        var namaInput = document.getElementById('nama');
        var nama = namaInput.value.trim();

        if (nama.length > 100) {
            alert("Nama tidak boleh lebih dari 100 karakter.");
            return false;
        }

        var emailInput = document.getElementById('email');
        var email = emailInput.value.trim();

        if (email.length > 50) {
            alert("Email tidak boleh lebih dari 50 karakter.");
            return false;
        }

        var kontakInput = document.getElementById('kontak');
        var kontak = kontakInput.value.trim();

        if (kontak.length > 50) {
            alert("Kontak tidak boleh lebih dari 50 karakter.");
            return false;
        }

        var passwordInput = document.getElementById('password');
        var password = passwordInput.value.trim();

        if (password.length > 50) {
            alert("Password tidak boleh lebih dari 50 karakter.");
            return false;
        }
    }
</script>
{% endblock content %}