{% extends 'base_biasa.html' %}

{% block meta %}
    <title>Langganan Paket</title>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <div class="flex justify-between items-center mb-5"> 
                <h2 class="text-3xl font-bold text-white font-serif">Langganan Paket</h2>
                <a href="{% url 'premium_search:riwayat' %}"><button style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white;">Riwayat Transaksi</button></a>
            </div>
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Jenis</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Harga</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            <tr class="text-white">
                                <td class="py-3 px-4">1 Bulan</td>
                                <td class="py-3 px-4">54.900</td>
                                <td class="actions">
                                    <a href="{% url 'premium_search:payment' %}?jenis_paket=1%20bulan&harga=54900"><button style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white; display: flex; align-items: center;">Berlangganan</button></a>
                                </td>
                            </tr>
                            <tr class="text-white">
                                <td class="py-3 px-4">3 Bulan</td>
                                <td class="py-3 px-4">149.900</td>
                                <td class="actions">
                                    <a href="{% url 'premium_search:payment' %}?jenis_paket=3%20bulan&harga=149900"><button style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white;">Berlangganan</button></a>
                                </td>
                            </tr>
                            <tr class="text-white">
                                <td class="py-3 px-4">6 Bulan</td>
                                <td class="py-3 px-4">269.900</td>
                                <td class="actions">
                                    <a href="{% url 'premium_search:payment' %}?jenis_paket=6%20bulan&harga=269900"><button style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white;">Berlangganan</button></a>
                                </td>
                            </tr>
                            <tr class="text-white">
                                <td class="py-3 px-4">1 Tahun</td>
                                <td class="py-3 px-4">479.900</td>
                                <td class="actions">
                                    <a href="{% url 'premium_search:payment' %}?jenis_paket=1%20tahun&harga=479900"><button style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white;">Berlangganan</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
