{% extends 'base_biasa.html' %}

{% block meta %}
    <title>Downloaded Songs</title>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-4xl font-bold mb-5 text-white font-serif">Daftar Lagu</h2>
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul Lagu</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Oleh</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Tanggal Download</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            {% for song in songs %}
                            <tr class="text-white">
                                <td class="py-3 px-4">{{ song.judul }}</td>
                                <td class="py-3 px-4">{{ song.id_artist }}</td>
                                <td class="py-3 px-4">{{ song.tanggal_download }}</td>
                                <td class="actions">
                                    <a href="{% url 'lihat_song' song.id %}" style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white; text-decoration: none;">Lihat</a>
                                    <a href="{% url 'premium_search:delete' song.id %}" style="background-color: #B17BC9; border: none; border-radius: 5px; padding: 8px 12px; color: white; text-decoration: none; margin-left: 5px;">Hapus</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p style="text-align: left; margin-top: 20px;"><a href="#" style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white; text-decoration: none;">Kembali</a></p>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
