{% extends 'base_biasa.html' %}

{% block meta %}
    <title>Pembayaran</title>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center items-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <div class="flex justify-center items-center mb-5 w-full"> 
                <h2 class="text-3xl font-bold text-white font-serif" style="text-align: center;">Pembayaran Paket</h2>
            </div>
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm" style="text-align: center;">Jenis</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm" style="text-align: center;">Harga</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            <tr class="text-white">
                                <td class="py-3 px-4" style="text-align: center;">1 Bulan</td>
                                <td class="py-3 px-4" style="text-align: center;">54.900</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 style="color: aliceblue;">Metode Pembayaran:</h3>
                <select class="bg-[#9E60D1] text-white rounded-md px-3 py-2">
                    <option value="transfer_bank">Pilihan</option>
                    <option value="transfer_bank">Transfer Bank</option>
                    <option value="kartu_kredit">Kartu Kredit</option>
                    <option value="e_wallet">E-Wallet</option>
                </select>

                <button class="bg-[#9E60D1] text-white rounded-md px-4 py-2">Submit</button>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock content %}