{% extends 'base_biasa.html' %}

{% block meta %}
    <title>Hasil Pencarian "{{ query }}"</title>
{% endblock meta %}

{% block content %}
<style>
    .modal-button {
        padding: 8px 12px;
        border-radius: 5px;
        margin-top: 10px;
        background-color: #9E60D1;
        border: none;
        color: white;
        cursor: pointer;
    }

    .modal-button:hover {
        background-color: #B17BC9;
    }
</style>

<body class="h-screen flex justify-center bg-[#151829] text-white">
    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-2xl font-bold mb-5 text-white font-serif">Hasil Pencarian "{{ query }}"</h2>
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Tipe</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Oleh</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            {% if results %}
                                {% for result in results %}
                                <tr class="text-white">
                                    <td class="py-3 px-4">{{ result.type }}</td>
                                    <td class="py-3 px-4">{{ result.title }}</td>
                                    <td class="py-3 px-4">{{ result.by }}</td>
                                    <td class="actions">
                                        <button class="btn-view" data-type="{{ result.type }}" data-id="{{ result.id }}" style="background-color: #9E60D1; border: none; border-radius: 5px; padding: 8px 12px; color: white;">Lihat</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="text-white">
                                    <td colspan="4" class="py-3 px-4 text-center">No results found for "{{ query }}"</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function handleViewButtonClick(type, id) {
            if (type === 'PODCAST') {
                window.location.href = `/list-episode/?podcast_id=${id}`;
            } else if (type === 'SONG') {
                window.location.href = `/play-song/?song_id=${id}`;
            }else if (type === 'USER PLAYLIST') {
                window.location.href = `/detail-playlist/?playlist_id=${id}`;
            }
        }

        document.querySelectorAll('.btn-view').forEach(button => {
            button.addEventListener('click', function() {
                const type = this.getAttribute('data-type');
                const id = this.getAttribute('data-id');
                handleViewButtonClick(type, id);
            });
        });
    </script>
</body>
{% endblock content %}
