{% extends 'base_artist_songwriter.html' %} 
{% load static %}

{% block meta %}
<head>
    <title>List Royalti</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-4xl font-bold mb-5 text-white font-serif">List Royalti</h2>
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul Lagu</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul Album</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Play</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Download</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Royalti Didapat</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            <tr class="text-white">
                                <td class="py-3 px-4">Santa doesnt know you like i do</td>
                                <td class="py-3 px-4">Fruitcake</td>
                                <td class="py-3 px-4">100</td>
                                <td class="py-3 px-4">55</td>
                                <td class="py-3 px-4">Rp 1000000</td>
                            </tr>
                            <tr class="text-white">
                                <td class="py-3 px-4">Vintage</td>
                                <td class="py-3 px-4">Zephyr</td>
                                <td class="py-3 px-4">10</td>
                                <td class="py-3 px-4">52</td>
                                <td class="py-3 px-4">Rp 100000</td>
                            </tr>
                            <tr class="text-white">
                                <td class="py-3 px-4">...</td>
                                <td class="py-3 px-4">...</td>
                                <td class="py-3 px-4">...</td>
                                <td class="py-3 px-4">...</td>
                                <td class="py-3 px-4">...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>

{% endblock content %}
