{% extends 'base_artist_songwriter.html' %}
{% block meta %}
<title>Create Album</title>
{% endblock meta%}
{% block content %}
<div class="flex flex-col items-center justify-center font-sans">
    <div class="bg-gray-900 rounded-lg p-8">
        <h2 class="text-3xl font-semibold text-white mb-4 text-center font-serif">Create Album</h2>
        <form class="space-y-4">
            <div>
                <label for="email" class="text-white">Judul</label>
                <input type="email" id="email" name="email" class="bg-[#f0e3ff] w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-[#b17bc9]" required>
            </div>
            <div>
                <label for="password" class="text-white">Label</label>
                <input type="password" id="password" name="password" class="bg-[#f0e3ff] w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:border-[#b17bc9]" required>
            </div>
            
            <div>
                <button type="submit" class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}