{% extends 'base_biasa.html' %} 
{% load static %}

{% block meta %}
<head>
    <title>List Album - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="max-w-4xl mx-auto mt-8 px-4">
        <a href="{% url 'album_royalti:create_album' %}">
            <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">+ Create Album</button>
        </a>
    </div>

        {% if isArtist == "True" %}
        <div class="max-w-4xl mx-auto mt-8 px-4">
            <h2 class="text-3xl font-semibold mb-4 text-white font-serif">List Album Sebagai Artist</h2>
            {% if records_album_artist %}
            <div class="rounded-lg p-6">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Label</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Jumlah Lagu</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Durasi</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            {% for record in records_album_artist %}
                            <tr class="text-white">
                                <td class="py-3 px-4">{{record.1}}</td>
                                <td class="py-3 px-4">{{record.5}}</td>
                                <td class="py-3 px-4">{{record.3}}</td>
                                <td class="py-3 px-4">{{record.4}}</td>
                                <td class="py-3 px-4">
                                    <a href="{% url 'album_royalti:list_song' %}?album_id={{ record.0 }}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Lihat Daftar Lagu</button>
                                    </a>
                                    <a href="{% url 'album_royalti:create_song' %}?album_id={{ record.0 }}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9] ml-2">Tambah Lagu</button>
                                    </a>
                                    <a href="{#}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9] ml-2">Hapus</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody> 
                    </table>
                </div>
            </div>
            {% else %}
                <h2 class="text-base mb-8 text-gray-400 md:max-w-lg">Belum Memproduksi Album</h2>
            {% endif %}
        </div>
        {% endif %}

        {% if isSongwriter == "True" %}
        <div class="max-w-4xl mx-auto mt-8 px-4">
            <h2 class="text-3xl font-semibold mb-4 text-white font-serif">List Album Sebagai Songwriter</h2>
            {% if records_album_songwriter %}
            <div class="rounded-lg p-6">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Label</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Jumlah Lagu</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Durasi</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            {% for record in records_album_songwriter %}
                            <tr class="text-white">
                                <td class="py-3 px-4">{{record.1}}</td>
                                <td class="py-3 px-4">{{record.5}}</td>
                                <td class="py-3 px-4">{{record.3}}</td>
                                <td class="py-3 px-4">{{record.4}}</td>
                                <td class="py-3 px-4">
                                    <a href="{% url 'album_royalti:list_song' %}?album_id={{ record.0 }}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Lihat Daftar Lagu</button>
                                    </a>
                                    <a href="{% url 'album_royalti:create_song' %}?album_id={{ record.0 }}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9] ml-2">Tambah Lagu</button>
                                    </a>
                                    <a href="{#}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9] ml-2">Hapus</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody> 
                    </table>
                </div>
            </div>
            {% else %}
                <h2 class="text-base mb-8 text-gray-400 md:max-w-lg">Belum Memproduksi Album</h2>
            {% endif %}
        </div>
        {% endif %}

</body>
</html>

{% endblock content %}
