{% extends 'base_biasa.html' %} 
{% load static %}

{% block meta %}
<title>Lihat Chart - Marmut</title>
{% endblock meta %}

{% block content %}
<div class="h-screen flex justify-center bg-[#151829] text-white">
    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <center><h2 class="text-4xl font-bold mb-5 text-white font-serif">Chart List</h2></center>         
            
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">                                                 
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Tipe</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            {% for chart in charts %}
                            <tr class="text-white">
                                <td class="py-3 px-4">{{ chart.tipe }}</td>
                                <td class="py-3 px-4">
                                    <a href="{% url 'podcast_chart:detail_chart' %}?tipe_top={{ chart.tipe }}" class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Lihat Daftar Lagu</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <center><a href="{% url 'dashboard:dashboard' %}" class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Kembali</a></center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
