{% extends 'base_biasa.html' %}
{% load static %}

{% block meta %}
<head>
    <title>List Episode - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">
    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <center>
                <h2 class="text-4xl font-bold mb-5 text-white font-serif">Daftar Episode {{ podcast.judul }}</h2>
            </center>
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Deskripsi</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Durasi</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Tanggal</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            {% for episode in episodes %}
                            <tr class="text-white">
                                <td class="py-3 px-4">{{ episode.title }}</td>
                                <td class="py-3 px-4">{{ episode.description }}</td>
                                <td class="py-3 px-4">{{ episode.duration }}</td>
                                <td class="py-3 px-4">{{ episode.date }}</td>
                                <td class="py-3 px-4">
                                    <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Hapus</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
