{% extends 'base_biasa.html' %} 
{% block meta %}
<title>List Podcast - Marmut</title>
{% endblock meta %}
{% block content %}
<div class="flex justify-center items-center h-screen bg-[#151829] text-white">
    <div class="max-w-4xl w-full mx-4">
        <h2 class="text-4xl font-bold mb-5 text-center font-serif">List Podcast</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                <thead class="bg-[#9e60d1] text-white">
                    <tr>
                        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Jumlah Episode</th>
                        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Durasi</th>
                        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                    </tr>
                </thead>
                <tbody class="text-gray-400 bg-[#382e47]">
                    {% for podcast in podcasts %}
                    <tr class="text-white">
                        <td class="py-3 px-4">{{ podcast.judul }}</td>
                        <td class="py-3 px-4">{{ podcast.jumlah_episode }}</td>
                        <td class="py-3 px-4">{{ podcast.total_durasi }}</td>
                        <td class="py-3 px-4">
                            <!-- {% csrf_token %} -->
                            <a href="{% url 'podcast_chart:list_episode' podcast_id=podcast.podcast_id %}" class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Lihat Daftar Episode</a>
                            <a href="{% url 'podcast_chart:create_episode' podcast_id=podcast.podcast_id %}" class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Tambah Episode</a>
                            <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Hapus</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
