<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>


<nav class="bg-[#151829] border-b border-gray-700 font-sans py-1">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <a href="#" class="text-white font-bold text-lg tracking-wide">Marmut</a>
            </div>
            
            
            <div class="flex relative items-center">
                <a href="{% url 'album_royalti:list_album' %}" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base">Kelola Album</a>
                <a href="{% url 'album_royalti:cek_royalti' %}" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base">Royalti</a>
                <a href="{% url 'dashboard:dashboard_label' %}" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base">Dashboard</a>
                <a href="{% url 'authentication:logout' %}" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base mr-2">Logout</a>
            </div>
        </div>
    </div>
</nav>