<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<nav class="bg-[#151829] border-b border-gray-700 font-sans py-1">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <a href="#" class="text-white font-bold text-lg tracking-wide">Marmut</a>
            </div>
            <div class="flex">
                <a href="#" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base">Dashboard</a>
                <a href="#" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base">Chart</a>
                <a href="#" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base">Manage Playlist</a>
                <a href="#" class="text-gray-300 hover:text-[#b17bc9] px-3 py-3 font-semibold text-base">Premium Plan</a>
                <button  class="bg-[#9e60d1] text-gray-300 hover:text-white hover:bg-gray-600 px-3 py-3 rounded font-semibold text-base h-10 pt-2 mt-2">Logout</button>
            </div>
        </div>
    </div>
</nav>

  