{% extends 'base_biasa.html' %} 
{% load static %}

{% block meta %}
<head>
    <title>User Playlist Detail - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-4xl font-bold mb-3 text-white font-serif">User Playlist Detail</h2>
            <div class="bg-gray-800 rounded-lg p-6 mb-2">
                <div class="grid gap-1 text-white">
                    <h3 class="text-1xl font-bold mb-1 text-white font-serif">Judul: Playlist1</h3>
                    <h3 class="text-1xl font-bold mb-1 text-white font-serif">Pembuat: Pembuat1</h3>
                    <h3 class="text-1xl font-bold mb-1 text-white font-serif">Jumlah Lagu: 12</h3>
                    <h3 class="text-1xl font-bold mb-1 text-white font-serif">Total Durasi: 8 jam 20 menit</h3>
                    <h3 class="text-1xl font-bold mb-1 text-white font-serif">Tanggal Dibuat: 18/03/24</h3>
                    <h3 class="text-1xl font-bold mb-1 text-white font-serif">Deskripsi: Lorem Ipsum ...</h3>
                </div>
            </div>
            <div>
                <button type="submit" class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg mb-2 font-semibold">Shuffle Play</button>
                <button type="submit" class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold">Kembali</button>
            </div>
            <h2>DAFTAR LAGU</h2>
            <div class="-mx-4">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul Lagu</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Oleh</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Durasi</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            <tr class="text-white">
                                <td class="py-3 px-4">Song1</td>
                                <td class="py-3 px-4">Artist1</td>
                                <td class="py-3 px-4">2 menit</td>
                                <td class="py-3 px-4">
                                    <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Lihat</button>
                                    <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Play</button>
                                </td>
                            </tr>
                            <tr class="text-white">
                                <td class="py-3 px-4">Song2</td>
                                <td class="py-3 px-4">Artist2</td>
                                <td class="py-3 px-4">3 menit</td>
                                <td class="py-3 px-4">
                                    <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Lihat</button>
                                    <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Play</button>
                                </td>
                            </tr>
                            <tr class="text-white">
                                <td class="py-3 px-4">...</td>
                                <td class="py-3 px-4">...</td>
                                <td class="py-3 px-4">...</td>
                                <td class="py-3 px-4">
                                    <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Lihat</button>
                                    <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Play</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock content %}
