{% extends 'base_biasa.html' %} 
{% load static %}

{% block meta %}
<head>
    <title>Play Song - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-xl mx-auto">
            <h2 class="text-4xl font-bold mb-3 text-white font-serif">Song Detail</h2>
            <div class="bg-gray-800 rounded-lg p-6">
                <div class="grid gap-1 text-white">
                    {% for record in records_song %}
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Judul: {{record.1}}</h3>
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Genre(s): </h3>
                        {% for genre in records_genre %}
                            <h3 class="text-1xl font-semibold mb-1 text-white font-serif px-4">{{ genre }}</h3>
                        {% endfor %}
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Artist: {{record.5}}</h3>
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Songwriter(s):</h3>
                        {% for songwriter in records_songwriter %}
                            <h3 class="text-1xl font-semibold mb-1 text-white font-serif px-4">{{songwriter}}</h3>
                        {% endfor %}
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Durasi: {{record.4}} menit</h3>
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Tanggal Rilis: {{record.2}}</h3>
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Tahun: {{record.3}}</h3>
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Total Play: {{record.6}}</h3>
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Total Downloads: {{record.7}}</h3>
                        <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Album: {{record.8}}</h3>
                    {% endfor %}
                </div>
            </div>
            
            <div class="-mx-4">
                <div>
                    {% csrf_token %}
                    <form action="{% url 'playlist_player:play_song' %}?song_id={{ song_id }}" method="POST">
                        <input type="hidden" name="song_id" value="{{ song_id }}">
                        <button type="submit" class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold">Play</button>
                    </form>
                </div>
                <div>
                    <a href="{% url 'playlist_player:add_song_to_user_playlist' %}?song_id={{ song_id }}">
                        <button class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold mb-2">Add to Playlist</button>
                    </a>
                    <a href="{% url 'premium_search:downloaded_song' %}">
                        <button class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold mb-2">Download</button>
                    </a>
                    <a href="{% url 'dashboard:dashboard' %}">
                        <button class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold">Kembali</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock content %}

