{% extends 'base_biasa.html' %} 
{% load static %}

{% block meta %}
<head>
    <title>Play Song - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-xl mx-auto">
            <h2 class="text-4xl font-bold mb-3 text-white font-serif">Song Detail</h2>
            <div class="bg-gray-800 rounded-lg p-6">
                <div class="grid gap-1 text-white">
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Judul: Song1</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Genre(s):</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif px-4">Genre1</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif px-4">Genre2</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Artist: Artist1</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Songwriter(s):</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif px-4">Songwriter1</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif px-4">Songwriter2</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Durasi: 3 menit</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Tanggal Rilis: 18/03/24</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Tahun: 2024</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Total Play: 0</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Total Downloads: 0</h3>
                    <h3 class="text-1xl font-semibold mb-1 text-white font-serif">Album: Album1</h3>
                </div>
            </div>
            
            <div class="-mx-4">
                <div class="mt-4">
                    <label for="progressSlider" class="block">Progress Lagu (Slider):</label>
                    <input type="range" id="progressSlider" name="progressSlider" min="0" max="100" value="0" class="w-full">
                    <span id="sliderValue" class="block text-center">0%</span>
                </div>
                <div>
                    <button class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold mb-2">Add to Playlist</button>
                    <button class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold mb-2">Download</button>
                    <button class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold">Kembali</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock content %}
