{% extends 'base_biasa.html' %}
{% block meta %}
<title>Add Song to User Playlist</title>
{% endblock meta%}
{% block content %}
<div class="flex flex-col items-center justify-center font-sans">
    <div class="bg-gray-900 rounded-lg p-8">
        <div class="text-center">
            <h1 class="text-4xl text-white mb-10">Ubah Playlist</h1>
            <div class="flex justify-center">
                <div class="bg-gray/20 rounded-3xl shadow-inner p-10" style="width: 40rem;">
                    <form class="space-y-4">
                        <div class="flex flex-col mb-4">
                            <label for="judul" class="text-xl text-white mb-4 text-left">Judul</label>
                            <input type="text" id="judul" name="judul" class="bg-white w-full rounded-lg px-4 py-3 focus:outline-none text-lg" placeholder="Radio ground everyone" value="{{ playlist.judul }}" required>
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="deskripsi" class="text-xl text-white mt-4 mb-4 text-left">Deskripsi</label>
                            <textarea id="deskripsi" name="deskripsi" class="bg-white w-full rounded-lg px-4 py-3 focus:outline-none text-lg mb-2" rows="4" placeholder="Choose positive whatever understand short choice girl finish." required>{{ playlist.deskripsi }}</textarea>
                        </div>
                        <div class="flex justify-center">
                            <button type="submit" class="border-2 border-bluebright text-bluebright mt-6 rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">Update</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock content %}