{% extends 'base_biasa.html' %} 
{% load static %}

{% block meta %}
<head>
    <title>User Playlist - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-10 bg-[#151829]">
        <div class="max-w-4xl mx-auto mt-8 px-4">
            <h2 class="text-3xl font-semibold mb-4 text-white font-serif">User Playlist</h2>
            {% if records_playlist %}
            <div class="rounded-lg p-6">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                        <thead class="bg-[#9e60d1] text-white">
                            <tr>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Jumlah Lagu</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Durasi</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-400 bg-[#382e47]">
                            {% for record in records_playlist %}
                            <tr class="text-white">
                                <td class="py-3 px-4">{{record.2}}</td>
                                <td class="py-3 px-4">{{record.4}}</td>
                                <td class="py-3 px-4">{{record.7}}</td>
                                <td class="py-3 px-4">
                                    <a href="{% url 'playlist_player:detail_playlist' %}?playlist_id={{ record.6 }}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9]">Detail</button>
                                    </a>
                                    <a href="{% url 'playlist_player:ubah_playlist' %}?id_playlist={{ record.6 }}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9] ml-2">Ubah</button>
                                    </a>
                                    <a href="{% url 'playlist_player:hapus_playlist' %}?id_playlist={{ record.6 }}" class="border-2 border-bluebright text-bluebright rounded-xl py-2 px-6 hover:bg-bluebright hover:text-black duration-200">Hapus</a>
                                    <a href="{#}">
                                        <button class="bg-[#9e60d1] text-white px-3 py-1 rounded-full font-semibold hover:bg-[#b17bc9] ml-2">Hapus</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody> 
                    </table>
                </div>
            </div>
            {% else %}
                <h2 class="text-base mb-8 text-gray-400 md:max-w-lg">Anda Belum Memiliki Playlist</h2>
            {% endif %}
            <a href="{% url 'playlist_player:tambah_playlist' %}">
                <button class="p-8 w-full bg-[#b17bc9] text-white py-2 rounded-lg font-semibold">Tambah Playlist</button>
            </a>
        </div>
    </div>

</body>
</html>

{% endblock content %}