{% extends 'base_biasa.html' %}
{% load static %}

{% block meta %}
<head>
    <title>Dashboard - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
{% csrf_token %}
<body class="h-screen flex justify-center bg-[#151829] text-white">
    <div class="max-w-4xl mx-auto mt-8 px-4">
        <h2 class="text-3xl font-semibold mb-4 font-serif text-white">Dashboard</h2>
        <div class="bg-gray-800 rounded-lg p-6">
            <div class="grid grid-cols-2 gap-4 text-white">
                <div>
                    <p class="text-lg text-gray-400">Nama:</p>
                    <p class="text-xl font-semibold">{{nama}}</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Email:</p>
                    <p class="text-xl font-semibold">{{email}}</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Kota Asal:</p>
                    <p class="text-xl font-semibold">{{kota_asal}}</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Gender:</p>
                    {% if gender == 0 %}
                    <p class="text-xl font-semibold">Perempuan</p>
                    {% else %}
                    <p class="text-xl font-semibold">Laki-laki</p>
                    {% endif %}
                </div>
                <div>
                    <p class="text-lg text-gray-400">Tempat Lahir:</p>
                    <p class="text-xl font-semibold">{{tempat_lahir}}</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Tanggal Lahir:</p>
                    <p class="text-xl font-semibold">{{tanggal_lahir}}</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Role:</p>
                    <p class="text-xl font-semibold">{{role_verified}}</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Status Langganan:</p>
                    <p class="text-xl font-semibold">{{status_langganan}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-4xl mx-auto mt-8 px-4">
        <h2 class="text-3xl font-semibold mb-4 text-white font-serif">List Playlist</h2>
        {% if records_user_playlist %}
        <div class="rounded-lg p-6">
            <div class="overflow-x-auto">
                <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                    <thead class="bg-[#9e60d1] text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Deskripsi</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Jumlah Lagu</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Tanggal Dibuat</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Durasi</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-400 bg-[#382e47]">
                        {% for record in records_user_playlist %}
                        <tr class="text-white">
                            <td class="py-3 px-4">{{record.2}}</td>
                            <td class="py-3 px-4">{{record.3}}</td>
                            <td class="py-3 px-4">{{record.4}}</td>
                            <td class="py-3 px-4">{{record.5}}</td>
                            <td class="py-3 px-4">{{record.7}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <h2 class="text-base mb-8 text-gray-400 md:max-w-lg">Belum Memiliki Playlist</h2>
        {% endif %}
    </div>
    {% if isArtist %}
    <div class="max-w-4xl mx-auto mt-8 px-4">
        <h2 class="text-3xl font-semibold mb-4 text-white font-serif">List Lagu Sebagai Artist</h2>
        {% if records_song_artist %}
        <div class="rounded-lg p-6">
            <div class="overflow-x-auto">
                <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                    <thead class="bg-[#9e60d1] text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Durasi</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Play</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Download</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-400 bg-[#382e47]">
                        {% for record in records_song_artist %}
                        <tr class="text-white">
                            <td class="py-3 px-4">{{record.5}}</td>
                            <td class="py-3 px-4">{{record.6}}</td>
                            <td class="py-3 px-4">{{record.3}}</td>
                            <td class="py-3 px-4">{{record.4}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <h2 class="text-base mb-8 text-gray-400 md:max-w-lg">Belum Memiliki Lagu</h2>
        {% endif %}
    </div>
    {% endif %}

    {% if isSongwriter %}
    <div class="max-w-4xl mx-auto mt-8 px-4">
        <h2 class="text-3xl font-semibold mb-4 text-white font-serif">List Lagu Sebagai Songwriter</h2>
        {% if records_song_songwriter %}
        <div class="rounded-lg p-6">
            <div class="overflow-x-auto">
                <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                    <thead class="bg-[#9e60d1] text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Durasi</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Play</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Download</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-400 bg-[#382e47]">
                        {% for record in records_song_songwriter %}
                        <tr class="text-white">
                            <td class="py-3 px-4">{{record.5}}</td>
                            <td class="py-3 px-4">{{record.6}}</td>
                            <td class="py-3 px-4">{{record.3}}</td>
                            <td class="py-3 px-4">{{record.4}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <h2 class="text-base mb-8 text-gray-400 md:max-w-lg">Belum Memiliki Lagu</h2>
        {% endif %}
    </div>
    {% endif %}

    {% if isPodcaster %}
    <div class="max-w-4xl mx-auto mt-8 px-4">
        <h2 class="text-3xl font-semibold mb-4 text-white font-serif">List Podcast</h2>
        {% if records_podcast %}
        <div class="rounded-lg p-6">
            <div class="overflow-x-auto">
                <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                    <thead class="bg-[#9e60d1] text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Jumah Episode</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Durasi</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-400 bg-[#382e47]">
                        {% for record in records_podcast %}
                        <tr class="text-white">
                            <td class="py-3 px-4">{{record.1}}</td>
                            <td class="py-3 px-4">{{record.2}}</td>
                            <td class="py-3 px-4">{{record.3}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <h2 class="text-base mb-8 text-gray-400 md:max-w-lg">Belum Memiliki Podcast</h2>
        {% endif %}
    </div>
    {% endif %}
</body>
{% endblock content %}
