{% extends 'base_artist_songwriter.html' %} 
{% load static %}

{% block meta %}
<head>
    <title>Dashboard - Marmut</title>
</head>
{% endblock meta %}

{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">
    <div class="max-w-4xl mx-auto mt-8 px-4">
        <h2 class="text-3xl font-semibold mb-4 font-serif text-white">Dashboard</h2>
        <div class="bg-gray-800 rounded-lg p-6">
            <div class="grid grid-cols-2 gap-4 text-white">
                <div>
                    <p class="text-lg text-gray-400">Nama:</p>
                    <p class="text-xl font-semibold">Sasa</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Email:</p>
                    <p class="text-xl font-semibold">syazantri@gmail.com</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Kota Asal:</p>
                    <p class="text-xl font-semibold">Jakarta</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Gender:</p>
                    <p class="text-xl font-semibold">Perempuan</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Tempat Lahir:</p>
                    <p class="text-xl font-semibold">Jakarta</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Tanggal Lahir:</p>
                    <p class="text-xl font-semibold">08 Oktober 2004</p>
                </div>
                <div>
                    <p class="text-lg text-gray-400">Role:</p>
                    <p class="text-xl font-semibold">Artist</p>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-4xl mx-auto mt-8 px-4">
        <h2 class="text-3xl font-semibold mb-4 text-white font-serif">List Songs</h2>
        <div class="rounded-lg p-6">
            <div class="overflow-x-auto">
                <table class="min-w-full bg-[#151829] rounded-lg overflow-hidden">
                    <thead class="bg-[#9e60d1] text-white">
                        <tr>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Judul</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Durasi</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Play</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total Download</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-400 bg-[#382e47]">
                        <tr class="text-white">
                            <td class="py-3 px-4">Santa doesnt know you like i do</td>
                            <td class="py-3 px-4">3</td>
                            <td class="py-3 px-4">100</td>
                            <td class="py-3 px-4">55</td>
                           
                        </tr>
                        <tr class="text-white">
                            <td class="py-3 px-4">exile</td>
                            <td class="py-3 px-4">4</td>
                            <td class="py-3 px-4">12</td>
                            <td class="py-3 px-4">61</td>
                           
                        </tr>
                        <tr class="text-white">
                            <td class="py-3 px-4">...</td>
                            <td class="py-3 px-4">...</td>
                            <td class="py-3 px-4">...</td>
                            <td class="py-3 px-4">...</td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock content %}