{% extends 'base_biasa.html' %} {% load static %}
{% block meta %}
<head>
    <title>Marmut</title>
</head>
{% endblock meta %}
{% block content %}
<body class="h-screen flex justify-center bg-[#151829] text-white">

    <div class="py-48 bg-[#151829]">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-7xl font-bold mb-3 text-white font-serif">Marmut</h2>
            <p class="text-lg mb-8 text-gray-400">Listen to your favorite songs and podcasts now for free. Create playlists, and share with others to find people with the same music taste as you!</p>
            <div>
                <a href="#" class="bg-[#9e60d1] text-white px-6 py-3 rounded-full font-semibold hover:bg-[#b17bc9]">Sign Up</a>
                <a href="#" class="border border-white-400 text-white px-6 py-3 rounded-full font-semibold hover:text-white hover:bg-gray-800 ml-4">Log in</a>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock content %}